<p id="notice"><%= notice %></p>
<div class="group">
  <% if @groups.size > 0 %>
      <div class="group" style="margin-left: 50px;">
        <h1>Groups</h1>
      </div>
    <div class="group" style="margin-left: 50px; margin-top: 50px;">
      <div class="group" style="width:20%">
        <%= select_tag :group,
                       options_for_select(@groups.map{|group| [group.group_name, group.id]}),
                       class: "form-control form-control-lg",
                       data: { reflex: "change->GroupReflex#switch" } %>
      </div>
      <div class="group" style="width:80%; margin-top:50px; text-align: center">
        <%= render partial: 'single_group', group: @group %>
      </div>
    </div>
  <% else %>
    <div class="group" style="margin-left: 50px; margin-top: 50px;">
      <%= render partial: 'no_group' %>
    </div>
  <% end %>
</div>


<br>

<script>
</script>

<%#= link_to 'New Group', new_group_path %>
