<% if resource.errors.any? %>

  <div id="error_explanation">
    <p><%= pluralize(resource.errors.count, "error") %> prohibited this professor from being saved:</p>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>

<% end %>
