<body class='view1'>
    <div class="mask rgba-black-light align-items-center">
    <div class='container'>
        <div class='main_text'>
            <% if notice %>
                <div class="alert alert-info">
                    <%= notice %>
                </div>
            <% end %>
            <% if alert %>
                <div class="alert alert-info">
                    <%= alert %>
                </div>
            <% end %>
            <h1 class='main-title'>Welcome to Teamation</h1>
            <br>
            <p>&nbsp</p>
            <p>&nbsp</p>
            <div class='row signin'>
                <% if !current_user %>
                  <div class="col student-sign-in">
                    <%= link_to new_student_session_path do %>
                      <div style="text-align: center; color: rgb(0,52,120);">
                        <h1 style="font-size: 75px;"><i class="fas fa-user-graduate"></i></h1>
                        <h1>Student</h1>
                      </div>
                    <% end %>
                  </div>
                  <div class="col prof-sign-in">
                    <%= link_to new_professor_session_path do %>
                      <div style="text-align: center; color: rgb(0,52,120);">
                        <h1 style="font-size: 75px;"><i class="fas fa-chalkboard-teacher"></i></h1>
                        <h1>Professor</h1>
                      </div>
                    <% end %>
                  </div>
                <% end %>
            </div>
        </div>   
    </div>
    </div>
</body>


