<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<% @courses.each do |course| %>
  <div class="container course-column-box-professor">
    <div class='row course-name-row' >
      <div id="course-name"><%= link_to course.name, course_path(course), class:'btn course-name-button' %></div>
    </div>

    <% if course.students.size==0 %>
      <div class='not-assigned-text-professor'>
        <h6>No Student Enrolled</h6>
      </div>
    <% else %>
      <div class='not-assigned-text-professor'>
        <h6>No Groups Created Yet</h6>
      </div>
    <% end %>
    <div class='row course-button-row'>
      <div id="course-button">
<!--        <div id="view-course-button">-->
          <%#= link_to course_path(course) do %>
<!--            <button class="btn btn-outline-primary viewButton"><i class="fas fa-eye"></i> View Course</button>-->
          <%# end %>
<!--        </div>-->
        <div id="drop-course-button">
          <%= link_to course_path(course), method: :delete, data: { confirm: 'Are you sure you want to drop this course?' } do %>
            <button class="btn btn-outline-primary dropButton"><i class="fas fa-minus-circle"></i> Delete course</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>