<%= bootstrap_form_with model: [@course, project], remote: true do |f| %>
  <%= f.text_field :project_name, hide_label: true, placeholder: "Project Name", required:true%>
  <%= f.text_area :description, hide_label: true, rows:"8", placeholder: "Description", required:true %>
  <div class="container add-projects-button">
    <%= f.submit "Add", class: "btn btn-primary addButton addProjectBtn" %>
  </div>
<% end %>