// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// For progress bar
.prof-project-progress {
  font-size: 15px;
  font-family: Sans-Serif;
  h3 {
    color: black;
  }
  p {
    color: black;
  }
}

// For course info box
a.active {
  background-color: #6699ff;
  /* other styling here, as desired */
}

.project-card-archive{
  .project-description-text {
    background-color: #D3D3D2;
  }
  //background: linear-gradient(to left, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
  //box-sizing: border-box;
  //width: 320px;
  //min-height: 220px;
  //margin-top: 0px;
  //margin-bottom: 25px;
  //> h4 {
  //  font-size: bold;
  //}
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  //border-radius: 5px;
  background-color: #D3D3D3;
  width: 25rem;
  height: 20rem;
  margin-top: 10px;
}

#course-info-box{
    //background: linear-gradient(to left, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    width: 500px;
    min-height: 500px;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px; 
}

.course-profile-column{
  padding: 40px;
  padding-left: 60px;
  font-size: 25px;
  .course-title{
    font-size: 35px;
  }
  .secondary-title{
    font-size: 18px;
  }
}

#course-info-col{
  padding: 40px;
  padding-top: 20px;
}

#course-nav{
  .nav-link{
    color: rgb(77, 131, 203);
  }
  .nav-link:hover{
    color: white;
    background-color: #007bff;
  }
  .active{
    color: black;
  }
}

// project brainstorm page
#project-brainstorm{
  .projects-list {
    width: 300px;
    margin-left: 100px;
  }
  .add-project-container {
    margin-top: 10px;
    padding: 20px;
  }
  .project-card-active {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    box-sizing: border-box;
    width: 30px;
    min-height: 25px;
    margin-top: 0px;
    margin-bottom: 25px;
    > h4 {
      font-size: bold;
    }
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
  }
  //border-radius: 5px;
  //margin-left: 205px;
  //margin-right: 205px;
  //margin-top: 10px;
  //.projects-box{
  //  .project-title{
  //    text-align: center;
  //    margin-top: 10px;
  //  }
  //  background: rgb(193, 213, 250);
  //  border-radius: 3px;
  //}
  .editbox {
    height: 300px;
  }
  .editbox-name {
    height: 50px;
  }
  .editbox-description {
    height: 250px;
    margin-top: 10px;
  }
  .add-projects-button {
    background-color:rgb(193, 213, 250) ;
    margin-top: 20px;
    color: black;
    text-align: center;
  }
  .addProjectBtn{
    border: 1.5px solid rgb(193, 213, 250);
    font-weight: bold;
    color: rgb(255, 255, 255);
    opacity: 0.8;
  }
  .addProjectBtn:hover{
    background-color:rgb(193, 213, 250) ;
    color: black;
  }
  #delete-project {
    text-align: right;
  }
  #project-list-buttons {
    margin-top: 10px;
    #like-project {
      text-align: right;
    }
  }
  .project-description-text {
    min-height: 10rem;
  }
}

// choose mode on course show page
#choose-mode {
  margin-left: 300px;
  margin-top: 20px;
}