// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// For progress bar
.prof-project-progress {
  font-size: 15px;
  font-family: Sans-Serif;
  h3 {
    color: black;
  }
  p {
    color: black;
  }
}

// For course info box
a.active {
  background-color: #6699ff;
  /* other styling here, as desired */
}

.project-card-archive{
  .project-description-text {
    background-color: #D3D3D2;
  }
  background-color: #D3D3D3;
  width: 320px;
  height: 220px;
  margin-top: 10px;
  margin-right: 20px;
}

#course-info-box{
    //background: linear-gradient(to left, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    width: 500px;
    min-height: 500px;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px; 
}

.course-profile-column{
  padding: 40px;
  padding-left: 60px;
  font-size: 25px;
  .course-title{
    font-size: 35px;
  }
  .secondary-title{
    font-size: 18px;
  }
}

#course-info-col{
  padding: 40px;
  padding-top: 20px;
}

#course-nav{
  .nav-link{
    color: rgb(77, 131, 203);
  }
  .nav-link:hover{
    color: white;
    background-color: #007bff;
  }
  .active{
    color: black;
  }
}

// project brainstorm page
.projects-list {
  padding-left: 60px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 160px;
  margin-right: 20px;
  flex-direction: row;
  justify-content: space-around;
  display: inline-block;
}
.project-row{
  margin-top: 10px;
  margin-bottom: 10px;
}
.project-info {
  position: relative;
  margin-top:20px;
}
.project-cards {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.add-project-container {
  background: linear-gradient(to left, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
  box-sizing: border-box;
  width: 320px;
  min-height: 220px;
  > h4 {
    font-size: bold;
  }
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.new-project-input{
  padding: 20px;
}

.project-card-active {
  background: linear-gradient(to left, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
  box-sizing: border-box;
  width: 320px;
  min-height: 250px;
  > h4 {
    font-size: bold;
  }
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.add-projects-button {
  position:relative;
  bottom: 10px;
  left: 100px;
}
.addProjectBtn{
  border: 1.0px solid rgb(193, 213, 250);
  color: rgb(255, 255, 255);
  opacity: 0.8;
}
#project-list-buttons {
  position: relative;
  top:100px;
}
.mode {
  margin-left: 150px;
  text-align: center;
}
