<div class="project-cards">
    <%= render 'projects/projects'%>
    <div class = 'add-project-container'>
      <div class= "new-project-input">
        <h5 class='project-title'>
          Add a New Project
        </h5>
        <%= render 'projects/form', project: @course.projects.build %>
      </div>
    </div>
</div>