<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>


<body class='view4'>
<div class='container profile-container' id="classroom" >
  <%= render partial: "course_info" %>
  <div id="choose_algorithm" style="margin-top: 20px; margin-left: 200px;">
    <div class="choose_algorithm" style="margin-top: 20px;">
      <%= link_to 'Create Groups with Preferences', course_groups_path(@course, algo: "preference_only"), class:"btn btn-primary" %>
    </div>
    <div class="choose_algorithm" style="margin-top: 20px;">
        <%= link_to 'Create Groups with Projects Voting', course_groups_path(@course, algo: "project_only"), class:"btn btn-primary" %>
    </div>
    <div class="choose_algorithm" style="margin-top: 20px;">
      <%= link_to 'Create Groups with Preferences and Voting', course_groups_path(@course, algo: "project_and_preference"), class:"btn btn-primary" %>
    </div>
  </div>
</div>
</body>

<script>
</script>