<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>


<body class='view4'>
  <div class='container profile-container' id="classroom" >
    <%= render partial: "course_info" %>

    <% if current_user.type == 'Professor' %>
      <%= render partial: "choose_mode"%>
    <% end %>
    
  </div>

  <div class='container profile-container'>
    <div class='row profile-row'>
      <div class='col'>
        <ul class="nav nav-tabs" id="course-nav">
          <% if Preference.find_by(student_id: current_user.id, course_id: @course.id).nil? %>
          <li class="nav-item">
            <a href="#preference_form" class="nav-link tab-projects active" data-toggle="tab" >Preference Form</a>
          </li>

          <% else %>
          <li class="nav-item">
            <a href="#students" class="nav-link tab-students active" data-toggle="tab" >Students</a>
          </li>
          
          <li class="nav-item">
            <a href="#groups" class="nav-link tab-groups" data-toggle="tab" >Groups</a>
          </li>

          <% end %>
        </ul> 
      
        <div class="tab-content">

          <% if Preference.find_by(student_id: current_user.id, course_id: @course.id).nil? %>
          <div class="tab-pane fade show active" id="preference_form">
            <div class="container projects-box">
              <%= render "preferences/form", preference: @preference, locals: { course: @course} %>
            </div>
            <!-- <div class="container projects-box">
              <%= render 'preference_form', collection: @preference, locals: {course: @course} %>
            </div> -->
          </div>

          <% else %>
          <div class="tab-pane fade show active" id="students">
            <div class="container projects-box">
              <p>Test2</p>
              <p>Another line</p>
            </div>
          </div>

          <div class="tab-pane fade" id="groups">
            <div class="container projects-box">
              <p>Test3</p>   
            </div>
          </div>

          <% end %>

        </div>
      </div> 
    
    </div>


  </div>
      
  </div>
      
</script>